*{
    box-sizing: border-box;
}

body{
    background-color: rgb(245,245,245);
} 
header {
    background-color: white;
    display:flex;
    width: 100%;
    padding: 0 20%;
    align-items: center;
    justify-content: space-between;
}

img.icon {
    width: 25px;
    height: 25px;
}
.logo-header img{
    max-width: 180px;    
}
.search-box{
    display:flex;
    padding: 15px;
    width: 20%;
    align-items: center;
    background-color: rgb(245,245,245);
    padding: 5px 10px;
    border: 1px solid rgb(200,200,200);
    border-radius: 5%;
}    
.search-box input{
    width: 200px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
}    
.search-box i{
    opacity: 0.3;
    background-color: transparent;
} 
.notifications-icons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
}
.notifications-icons a{
    text-decoration: none;
    color: black;
    opacity: 0.1;
    display: inline-block;
}
.notifications-icons .img-miniature{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}