<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheet/style.css">

    <title>Petgram</title>
</head>

<body>
    <header class="flex-container flex-container--row around items-centered">
        <div class="imagemLogo">
            <a href="feed.html"><img src="images/logo.png"> </a>
        </div>
        <div class="flex-container flex-container--row items-centered pesquisa" id="divPesquisa">
                  <input id="inputPesquisa" class="campoPesquisa" type="text" name="txtsearch" placeholder="Buscar">
                  <img id="imgPesquisa" src="images/icons/buscar_grey.png" alt="">
          </div>
        <nav class="icones-link flex-container flex-container--row arround items-centered">
            <a href="#"><img class="icon" src="images/icons/house-icon.png" alt="home" ></a>
            <a href="#"><img class="icon" src="images/icons/inbox.png" alt="inbox" ></a>
            <a href="#"><img class="icon" src="images/icons/heart.png" alt="heart" ></a>
            <a href="#"><img class="icon" src="images/icons/compass-icon.png" alt="compass" ></a>
            <a href="#"><img class="icon" src="images/icons/bulldog.png" class="img-miniature"></a>
        </nav>
    </header>