<nav class="links flex-container flex-container--row around items-centered">
    <a href="/admin/postagens">Posts</a>
    <a href="/admin/comentarios">Comentários</a>
    <a href="/admin/usuarios">Usuários</a>
</nav>
