<nav class="icones-link flex-container flex-container--row arround items-centered">
    <a href="postagens">Posts</a>
    <a href="comentarios">Comentários</a>
    <a href="usuarios">Usuários</a>
</nav>
