<%- include('partials/header.ejs') %>

<main class="flex-container flex-container--row around">
    <%- include('partials/menu-admin.ejs') %>

    <h1>Administração</h1>
</main>

<%- include('partials/footer.ejs') %>
