<%- include('partials/header') %>
<main>
    <article class="flex-container flex-container--col items-centered" >
        <h1>Criar Post</h1>
        <form class="flex-container flex-container--col form_login" action="#" method="POST">
            <input type="file" id="upload" name="imagem">
            <input class="input_login" type="text" name="legenda" placeholder="Escreva aqui">
            <button class="buttom_signin" type="submit">Upload</button>
        </form>
    </article>
</main>


<%- include('partials/footer') %>