<%- include('partials/header') %>
<main>
    <div>
        <label for="upload">Criar Post</label>
        <form class="flex-container flex-container--col form_login" action="#" method="POST">
            <input type="text" name="post" placeholder="escreva aqui">
            <input type="file" id="upload" name="criar post">
            <button class="buttom_signin" type="submit">Upload</button>
        </form>
</main>


<%- include('partials/footer') %>