
    <main class="flex-container flex-container--row around">
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
        <article class="feed flex-container flex-container--col around">
            <div class="feedHeader">
                <p>usuario</p>
            </div>
            <img src="assets/images/img-padrao.jpg" alt="" width="280px" height="280px">
            <div class="feedLegenda">
                <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
            </div>
            <div class="feedFooter flex-container flex-container--row">
                <p>804 likes</p>
                <p>3 comentários</p>
            </div>
        </article>
    </main>
    <footer class="flex-container flex-container--row flex-container--center">
        <p class="copyright">&copy 2022 Projeto Integrador - tn02</p>
    </footer>
</body>

<script>
    const input = document.getElementById('inputPesquisa')
    const search_box = document.getElementById('divPesquisa')

    input.addEventListener('focus', () => {
            search_box.classList.add("bordaPesquisa")
    });

    input.addEventListener('focusout', () => {
        search_box.classList.remove("bordaPesquisa")
    })
</script>

</html>