<%- include('partials/header.ejs') %>

<main class="flex-container flex-container--row around">
    <% for (let i=0; i>40; i++) { %>
    
    <article class="feed flex-container flex-container--col around">
        <div class="feedHeader">
            <p>usuario</p>
        </div>
        <img src="images/img-padrao.jpg" alt="" width="280px" height="280px">
        <div class="feedLegenda">
            <p>Coloque aqui a legenda da sua foto, com até 70 caracteres</p>
        </div>
        <div class="feedFooter flex-container flex-container--row">
            <p>804 likes</p>
            <p>3 comentários</p>
        </div>
    </article>

    <% } %>
</main>

<%- include('partials/footer.ejs') %>
