<%- include('partials/header.ejs') %>

<main>
<a href="#"><img class="icon" src="images/icons/bulldog.png" class="img-miniature"></a>
<p>Nome de Usuário</p>
</main>

<%- include('partials/footer.ejs') %>
