<%- include('partials/header.ejs') %>

<main>
<a href="#"><img class="icon" src="images/icons/bulldog.png" class="img-miniature"></a>
<p>Nome de Usuário</p>
<a href="#">Alterar foto do Perfil</a>
<fieldset>
    <label for="nome">Nome:</label>
    <input type="text" required name="name" id="nome" placeholder="Nome Usuário">
    <a href="#">Alterar Nome</a>
</main>

<%- include('partials/footer.ejs') %>
