<%- include('partials/header.ejs') %>


    <main>
        <h1> Termos de Uso</h1>

        <section>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sunt, officiis non amet nostrum fuga vel
                quibusdam laudantium distinctio incidunt ex exercitationem, itaque ullam ea delectus voluptatem
                architecto error. Ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut excepturi, magni
                asperiores et eos quasi voluptate laboriosam cumque commodi, recusandae, dolorum non ea. Perferendis
                iusto fugiat inventore accusantium libero aut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quas quis dicta, magnam cumque iusto
                perspiciatis, dignissimos beatae repellendus illo doloribus voluptas exercitationem odio laborum quam,
                minima maxime ullam libero?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit aliquam quidem necessitatibus veritatis
                quaerat laudantium a voluptatibus libero perferendis fugiat, labore magni aut earum at repudiandae
                molestiae sapiente amet quas.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio impedit a corporis consectetur
                doloremque minus dolorem, enim eum aliquid tempora harum officia! Iste debitis, et corporis optio
                distinctio a odit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, error. Repellendus
                odio earum praesentium reprehenderit impedit neque voluptatibus, numquam eos enim quisquam laborum
                fugiat. Provident, odit! Veritatis ratione praesentium voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sed quod odit enim consequatur, quis
                reprehenderit ea repellendus exercitationem, dignissimos amet. Corporis perspiciatis eius, odio fuga
                commodi alias eaque cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit illum
                tempora ipsum ut consequatur ratione aspernatur reprehenderit, cupiditate nihil enim excepturi modi
                beatae, consectetur sunt rem a animi reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, repellendus tenetur ipsa
                necessitatibus quam qui corrupti, rerum consequuntur quisquam excepturi quia id accusamus veritatis,
                totam tempora earum. Tenetur, nulla corrupti?
            </p>
        </section>
        <section>

            <h2>O Serviço do Petgram</h2>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem omnis molestias ab alias tempora
                itaque repellat culpa eaque odio, magni animi, possimus nisi tempore. Eos ratione dolor facilis
                possimus accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti veritatis
                debitis quis iste cum perspiciatis deleniti dolorum adipisci eius facere, labore quas aspernatur
                quaerat nulla? Accusantium nostrum inventore eos impedit! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Id expedita impedit et. Illo nam sint, vel, voluptas, quod numquam suscipit minus
                repudiandae laboriosam repellat quo! Quidem dolor odio reiciendis iure.</p>
            <ul>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
            </ul>
        </section>
        <section>

            <h2>Como nosso Serviço é Financiado</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quaerat aut ducimus aliquid ipsum
                enim dolores et alias unde id hic quod sapiente, ea iure quibusdam optio illum eius ipsam! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur ipsam nesciunt deserunt aut!
                Veritatis corporis eveniet omnis molestias! Suscipit corrupti dignissimos nihil fuga beatae tempora
                quod alias dolor modi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quaerat aut ducimus aliquid ipsum
                enim dolores et alias unde id hic quod sapiente, ea iure quibusdam optio illum eius ipsam! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur ipsam nesciunt deserunt aut!
                Veritatis corporis eveniet omnis molestias! Suscipit corrupti dignissimos nihil fuga beatae tempora
                quod alias dolor modi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quaerat aut ducimus aliquid ipsum
                enim dolores et alias unde id hic quod sapiente, ea iure quibusdam optio illum eius ipsam! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Ducimus pariatur ipsam nesciunt deserunt aut!
                Veritatis corporis eveniet omnis molestias! Suscipit corrupti dignissimos nihil fuga beatae tempora
                quod alias dolor modi!</p>

            <h2> A Política de Dados</h2>


            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis asperiores itaque quas
                repellat quos corporis fuga, sit dignissimos maiores esse ab facilis modi omnis recusandae commodi
                est ullam suscipit cum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non nostrum
                ut magnam veritatis, tempore eligendi, recusandae vel corporis, nulla optio? Deserunt eum
                voluptatibus aliquam tempore, alias sit possimus nisi.</p>


            <h2>Seus Compromissos</h2>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, id minus accusamus optio dicta
                alias! Eius, officiis magni dolor nesciunt, molestiae, nulla maiores hic dolorum asperiores quidem
                pariatur quo sit.</p>
            <br>
            <strong>Quem pode usar o Petgram.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
            delectus hic. Vitae tempore nobis maiores voluptatibus eligendi aperiam vel voluptates hic illum!
            Excepturi explicabo, id laboriosam deleniti perspiciatis beatae quae? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Optio, corrupti! Quo alias labore ad vero iure eos fuga cupiditate
            voluptatum magni libero esse animi rerum, illo reiciendis voluptas, accusamus delectus.
            <ul>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laborum enim incidunt reprehenderit
                    cum ut repudiandae magni id unde eius, soluta omnis labore, laboriosam tenetur natus esse
                    assumenda! Saepe, consequatur.
                </li>
            </ul>
            <strong>Como você não pode usar o Petgram.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Autem, delectus hic. Vitae tempore nobis maiores voluptatibus eligendi aperiam vel voluptates hic illum!
            Excepturi explicabo, id laboriosam deleniti perspiciatis beatae quae? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Optio, corrupti! Quo alias labore ad vero iure eos fuga cupiditate
            voluptatum magni libero esse animi rerum, illo reiciendis voluptas, accusamus delectus.
            <ul>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong> Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Consequuntur itaque fugiat, labore blanditiis necessitatibus
                    veritatis aperiam voluptatem quae distinctio perspiciatis ab sint harum eum illo rerum laborum
                    quis. Ducimus, error.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Consequuntur itaque fugiat, labore blanditiis necessitatibus
                        veritatis aperiam voluptatem quae distinctio perspiciatis ab sint harum eum illo rerum
                        laborum quis. Ducimus, error.</strong>
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Consequuntur itaque fugiat, labore blanditiis necessitatibus
                        veritatis aperiam voluptatem quae distinctio perspiciatis ab sint harum eum illo rerum
                        laborum quis. Ducimus, error.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Reiciendis unde ipsam atque. Illum earum libero quis non, suscipit, sequi officiis qui esse at
                    fuga mollitia beatae minus? Quaerat, natus reprehenderit.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Consequuntur itaque fugiat, labore blanditiis necessitatibus
                        veritatis aperiam voluptatem quae distinctio perspiciatis ab sint harum eum illo rerum
                        laborum quis. Ducimus, error.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Reiciendis unde ipsam atque. Illum earum libero quis non, suscipit, sequi officiis qui esse at
                    fuga mollitia beatae minus? Quaerat, natus reprehenderit.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Consequuntur itaque fugiat, labore blanditiis necessitatibus
                        veritatis aperiam voluptatem quae distinctio perspiciatis ab sint harum eum illo rerum
                        laborum quis. Ducimus, error.</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Reiciendis unde ipsam atque. Illum earum libero quis non, suscipit, sequi officiis qui esse at
                    fuga mollitia beatae minus? Quaerat, natus reprehenderit.
                </li>
                <li>
                    <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. </strong>
                </li>
            </ul>

            <h2>Direitos adicionais que nós mantemos</h2>

            <ul>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
            </ul>

            <h2>Remoção de conteúdo e desativação ou encerramento de sua conta</h2>

            <ul>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
            </ul>

            <h2>Nosso Acordo e o que acontecerá se nós discordarmos</h2>

            <strong>Nosso Acordo.</strong>

            <ul>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
            </ul>

            <h2>Quem tem direitos por força deste acordo.</h2>

            <ul>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
            </ul>

            <h2>Quem é responsável caso algo aconteça.</h2>

            <ul>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut quaerat sunt maiores,
                    expedita vitae quia temporibus, magni illo repudiandae voluptates, minima iste placeat alias
                    saepe? Rem recusandae corporis ut!</li>
            </ul>

            <h2>Como lidaremos com contestações.</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dicta repudiandae enim magni doloribus
                veniam. Obcaecati quia magnam officiis sit enim dicta, quasi eveniet a voluptate vero quidem nam
                expedita! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, nostrum magnam? Velit,
                autem! Quo, est omnis! Placeat tenetur quisquam maxime suscipit tempore nesciunt vel nobis eos
                eveniet veniam. Eligendi, assumenda?</p>

            <h2>Material não solicitado.</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dicta repudiandae enim magni doloribus
                veniam. Obcaecati quia magnam officiis sit enim dicta, quasi eveniet a voluptate vero quidem nam
                expedita! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, nostrum magnam? Velit,
                autem! Quo, est omnis! Placeat tenetur quisquam maxime suscipit tempore nesciunt vel nobis eos
                eveniet veniam. Eligendi, assumenda?</p>

            <h2>Atualização destes Termos.</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed dicta repudiandae enim magni doloribus
                veniam. Obcaecati quia magnam officiis sit enim dicta, quasi eveniet a voluptate vero quidem nam
                expedita! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, nostrum magnam? Velit,
                autem! Quo, est omnis! Placeat tenetur quisquam maxime suscipit tempore nesciunt vel nobis eos
                eveniet veniam. Eligendi, assumenda?</p>

        </section>
    </main>
    <%- include('partials/footer.ejs') %>